.menuBg {
	background:#eee;
	background:-moz-linear-gradient(top, #eee 0, #ccc 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
	background:-webkit-linear-gradient(top, #eee 0, #ccc 100%);
	background:-o-linear-gradient(top, #eee 0, #ccc 100%);
	background:-ms-linear-gradient(top, #eee 0, #ccc 100%);
	background:linear-gradient(top, #eee 0, #ccc 100%);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}
.menuBgHover {
	background:#ddd;
	background:-moz-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #ccc));
	background:-webkit-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-o-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-ms-linear-gradient(top, #ddd 0, #ccc 100%);
	background:linear-gradient(top, #ddd 0, #ccc 100%);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);
}
#diy-header, #diy-content, #diy-sidebar {
	margin:0;
	padding:0; /*display:inline; */
}
body {
	margin:0;
	padding:0;
 //overflow:hidden;
}
#diy-wrap {
	margin:0 auto;
	padding:0;
}
/*h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#900;
	text-align:center;
	font-size:30px;
	margin:10px;
}
*/
#fanpage-menu {
	margin:10px auto;
	padding:0;
	list-style-type:none;
	list-style-image:none;
	background:#eee;
	background:-moz-linear-gradient(top, #eee 0, #ccc 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
	background:-webkit-linear-gradient(top, #eee 0, #ccc 100%);
	background:-o-linear-gradient(top, #eee 0, #ccc 100%);
	background:-ms-linear-gradient(top, #eee 0, #ccc 100%);
	background:linear-gradient(top, #eee 0, #ccc 100%);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border-top:solid 1px #ddd;
	border-left:solid 1px #eee;
	border-right:solid 1px #eee;
	border-bottom:solid 1px #eee;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
}
#fanpage-menu li {
	display:inline-block;
	margin:0;
	padding:4px 7px;
}
#fanpage-menu li:hover {
	background:#ddd;
	background:-moz-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #ccc));
	background:-webkit-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-o-linear-gradient(top, #ddd 0, #ccc 100%);
	background:-ms-linear-gradient(top, #ddd 0, #ccc 100%);
	background:linear-gradient(top, #ddd 0, #ccc 100%);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);
}
#fanpage-menu li a:hover {
	color:#900;
}
#fanpage-menu li a {
	text-decoration:none;
	display:inline-block;
	padding:5px 20px 5px 20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#222;
}
#diy-header {
	width:100%;
	background-color:#fff;
	position:relative;
	margin:0 auto;
	width:808px;
	background-repeat: no-repeat;
	background-position: center;
}
.header-shadow {
	border:1px solid #333;
}
.header-shadow:before {
	content:'';
	position:absolute;
	border-style:solid;
	border-color:transparent;
	bottom:-11px;
	border-width:0 10px 10px 0;
	border-right-color:#333;
	left:0;
}
.header-shadow:after {
	content:'';
	position:absolute;
	border-style:solid;
	border-color:transparent;
	bottom:-11px;
	border-width:0 0 10px 10px;
	border-left-color:#333;
	right:0;
}
#diy-header img {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#diy-main {
	padding:0 5px 5px 5px;
}
.no-shadow {
	margin:0 auto;
	max-width:798px;
	border: none;
}
.no-header-shadow {
	width:810px;
	border:none;
}
.shadow {
	margin:-10px auto 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	max-width:778px;
}
#content {
	margin:0 auto;
	width: 100%;
}
.sidebar_r #diy-content {
	float:left;
	width:70%;
	margin:0 10px 0 0;
}
#diy-sidebar.right {
	float:right;
	width:28%;
}
.sidebar_l #diy-content {
	float:right;
	width:70%;
}
#diy-sidebar.left {
	float:left;
	width:28%;
	margin:0 10px 0 0;
}
#diy-sidebar h2 {
	font-size:16px;
}
#diy-sidebar li {
	list-style:none;
}
#name-font {
	font-size:16px!important;
	margin:0;
	padding:0;
	color:#3B5998;
	text-align:center;
}
.name-font {
	font-size:16px!important;
	margin:0;
	padding:0;
	color:#3B5998;
	text-align:center;
}
.hide {
	display:none;
}
.lo_counter {
	font-family: arial;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}
.lo_counter h1 {
	font-size: 2em;
	margin-bottom:0;
}
.lo_counter p {
	line-height:12px;
	margin-top:0;
}
.lo_count {
	font-size: 4em;
	font-weight:bold;
}
.lo_expired_content {
	font-family: arial;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

