#advanced-sortables .postbox { float:left; width:48%; margin:0 20px 0 0; }
#advanced-sortables .postbox:nth-child(2)  { float:right; width:48%; margin:0; }
table.cmb_metabox tr._efp_redirect_url { background: rgb(222,239,255); /* Old browsers */ background: -moz-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(222,239,255,1)), color-stop(100%, rgba(152,190,222,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* IE10+ */ background: linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* W3C */ }
table.cmb_metabox tr._efp_redirect_url span.cmb_metabox_description { color:#000000; font-weight:bold; }
div._efp_sidebar_layout { width:200px; float:left; }
div._efp_sidebar_layout input { display:block; }
table.cmb_radio_inline:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
div._efp_sidebar_layout span { display:block; margin-top:5px; }
#dynamic_sectionid { float:left; clear:both; width:49.5%; margin:0; }
#dynamic_sectionid2 { float:right; width:49.5%; margin:0; }

.form-field-desc { border:1px solid #ddd; list-style:none outside; margin:0; padding:0; border-radius:5px; }
.form-field-desc li { border-top:1px solid #ddd; margin:0; padding:10px 5px; }
.form-field-desc .remove { text-indent:-99999px; width:15px; display:inline-block;  background: url(images/cross-small.png) no-repeat bottom left !important;
cursor:pointer; }
.form-field-desc .remove:hover { background: url(images/cross-small.png) no-repeat top left !important;
}
.add { padding:10px 15px; margin:10px 0; background:#eee; border:1px solid #ccc; border-radius:20px; display:inline-block; font-weight:bold; cursor:pointer; text-shadow: #fff 1px 1px 0px; background: -moz-linear-gradient(top, #eee 0%, #ddd 100%); background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%); box-shadow:inset 1px 1px 0px #fff, inset -1px -1px 0px #fff, inset -1px 1px 0px #fff, inset 1px -1px 0px #fff; }
.add:hover { border:1px solid #aaa; background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%); }
.form-field-desc .meta-form-name { width:31%; display:inline-block; }
.form-field-desc .meta-form-value { width:31%; display:inline-block; }
.form-field-desc div.meta-form-name { width:43%; display:inline-block; }
.form-field-row form-field-desc-row div { margin-right:3px; }
.form-field-desc form-field-desc-row { background:#ddd; text-shadow: #fff 1px 1px 0px; background: -moz-linear-gradient(top, #eee 0%, #ddd 100%); background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%); padding:5px 10px; font-weight:bold; margin:0; border:none; }

.form-field-desc2 { border:1px solid #ddd; list-style:none outside; margin:0; padding:0; border-radius:5px; }
.form-field-desc2 li { border-top:1px solid #ddd; margin:0; padding:10px 5px; }
.form-field-desc2 .remove { text-indent:-99999px; width:15px; display:inline-block;  background: url(images/cross-small.png) no-repeat bottom left !important;
cursor:pointer; }
.form-field-desc2 .remove:hover { background: url(images/cross-small.png) no-repeat top left !important;
}
.add2 { padding:10px 15px; margin:10px 0; background:#eee; border:1px solid #ccc; border-radius:20px; display:inline-block; font-weight:bold; cursor:pointer; text-shadow: #fff 1px 1px 0px; background: -moz-linear-gradient(top, #eee 0%, #ddd 100%); background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%); box-shadow:inset 1px 1px 0px #fff, inset -1px -1px 0px #fff, inset -1px 1px 0px #fff, inset 1px -1px 0px #fff; }
.add2:hover { border:1px solid #aaa; background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%); }
.form-field-desc2 .meta-form_name2 { width:31%; display:inline-block; }
.form-field-desc2 .meta-form_value2 { width:31%; display:inline-block; }
.form-field-desc2 div.meta-form_name2 { width:43%; display:inline-block; }
.form-field-desc2 form-field-desc-row2 div { margin-right:3px; }
.form-field-desc2 form-field-desc-row2 { background:#ddd; text-shadow: #fff 1px 1px 0px; background: -moz-linear-gradient(top, #eee 0%, #ddd 100%); background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%); padding:5px 10px; font-weight:bold; margin:0; border:none; }
