#settings-sidebar {
	width:230px;
	float:right;
	background:#f9f9f9;
	border:1px solid #ddd;
	margin-top:40px;
	padding:0 10px;
}
.rm_wrap {
	width:740px;
}
.meta_box {
	width:100%;
}
.meta_box .rm_opts {
	width:100%;
}
.rm_section-left {
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	float:left;
	width:49.4%;
	margin:0 0 15px 0;
}
.rm_section-left .rm_section {
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	width: 100%;
}
.rm_sectioned {
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	float:left;
	width:99%;
	margin:0 0 15px 0;
}
.rm_section {
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	width: 100%;
}
.meta_box .rm_section {
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	width: 99.85%;
}
.rm_opts label {
	font-size:12px;
	font-weight:700;
	width:150px;
	display:block;
	float:left;
}
.meta_box .rm_opts label {
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
}
.rm_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.meta_box .rm_input {
	padding:10px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.rm_opts small {
	display:inline-block;
	width:200px;
	color:#999;
	margin:0 0 0 20px;
}
.rm_opts .rm_sectioned small {
	display: inline-block;
	margin-left:10px;
	width:38%;
	color:#999;
	float:none;
}
.rm_opts .rm_section-left small {
	display: inline-block;
	margin-left:10px;
	width:200px;
	color:#999;
	float:none;
}
.rm_opts input[type="text"], .rm_opts select {
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.meta_box .rm_opts input[type="text"], .rm_opts select {
	width:230px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#efefef;
	border-color:#dfdfdf;
}
.meta_box .rm_opts .rm_sm_text input[type="text"] {
	width: 50px;
}
.rm_opts .rm_small_text input[type="text"] {
	width:150px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.rm_input input:focus, .rm_input textarea:focus {
	background:#fff;
}
.rm_input textarea {
	width:280px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
#poststuff .rm_section-left .rm_title h3, .metabox-holder .rm_section-left .rm_title h3 {
	cursor:pointer;
	font-size:1.2em;
	text-transform: uppercase;
	font-family:"Myriad Web Pro", "Helvetica CondensedBlack";
	margin:0;
	font-weight:bold;
	color:#232323;
	height:40px;
	padding:7px;
	width:98%;
}
#poststuff .rm_title h3, .metabox-holder .rm_title h3 {
	cursor:pointer;
	font-size:1.2em;
	text-transform: uppercase;
	font-family:"Myriad Web Pro", "Helvetica CondensedBlack";
	margin:0;
	font-weight:bold;
	color:#232323;
	height:40px;
	padding:7px;
	width:98.3%;
}
.rm_title {
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	height:56px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */

}
.rm_title h3 {
	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;
}
.meta_box .rm_title h3 {
	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:98%;
	padding:14px 4px;
}
.rm_title h3 img.inactive {
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;
	background:url('images/pointer.png') no-repeat 0 0;
	float:left;
	-moz-border-radius:6px;
	border:1px solid #ccc;
}
.rm_title h3 img.active {
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;
	background:url('images/pointer.png') no-repeat 0 -32px;
	float:left;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #ccc;
}
.meta_box .rm_title h3 img.inactive {
	margin:0 10px 0 2px;
	width:32px;
	height:32px;
	background:url('images/pointer.png') no-repeat 0 0;
	float:left;
	-moz-border-radius:6px;
	border:1px solid #ccc;
}
.meta_box .rm_title h3 img.active {
	margin:0 10px 0 2px;
	width:32px;
	height:32px;
	background:url('images/pointer.png') no-repeat 0 -32px;
	float:left;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #ccc;
}
.rm_title h3:hover img {
	border:1px solid #999;
}
.rm_title span {
	display:inline-block;
	margin:0 5px 0 0;
	padding:0;
	padding: 0;
}
.meta_box .rm_title span {
	display:block;
	float:left;
	margin:0 5px 0 0;
	padding:0;
	padding:14px 0;
}
.rm_table th, .rm_table td {
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}
.rm_table th, .rm_table td.feature {
	border-color:#888;
}
#footer {
	position:static;
}
.rm_title span.submit {
	display:block;
	float:right;
	margin:0 10px 0 0;
	padding:0;
	width:15%;
	padding:14px 0;
}
.clearfix {
	clear:both;
}
.meta_box h5 {
	font-size:18px;
	font-family:"Myriad Web Pro", "Helvetica CondensedBlack";
	color:#35AFEE;
	margin:0;
}
.cmb_radio_inline_option {
	width:150px;
	float:left;
vertical-align:
}
.meta_box input[type="checkbox"], input[type="radio"] {
	vertical-align: top;
}
.meta_box .rm_opts .rm_subtitle label {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#35AFEE;
	width:100%;
}
.rm_opts .rm_subtitle small {
	color:#333;
	width:100%;
	font-size:12px;
}
.rm_title input {
	float:right;
}
.divider {
	width:100%;
	clear:both;
	border:none;
}
.meta_box .divider {
	border:none;
}